/* Définission des variables de couleurs */
$admin:red;
$modo: rgb(25, 101, 214);
$membre : rgb(28, 146, 28);
$visiteur: rgb(0, 0, 0);


        //MENU ET PROFIL

/*Avatar dans barre de navigation */
nav {
    #infosProfil{
        position:relative;
        img{
            width: 50px;
            border-radius: 50%;
            position: relative;
        }
    }
}

.bg-light{
    background-color: rgb(255, 255, 255) !important;
}

/*Avatar dans le profil */
.profil{
    img {
        width: 90px;
        border-radius: 50%;
        &.admin {
            border: 2px solid $admin;
        }
        &.modo {
            border: 2px solid $modo;
        }
        &.membre {
            border: 2px solid $membre;
        }
        &.visiteur {
            border: 2px solid $visiteur;
        }
        @media (min-width: 992px) {
            width: initial;
        }
    }
    #pseudo {
        font-size: 200%;
        @media (min-width: 992px) {
            font-size: 300%;
        }
    }
}


/* Contenu du profil */
.modal-dialog{
    max-width: 900px;
    .modal-content{
        .modal-header{
            border-bottom: none;
            h5{
                font-size: 1.5em;
            }
        }
        .modal-body{
            .jumbotron{
                background-color: white;
                img{
                    border-radius: 50%;
                }
            }
            i{
                font-size: 1.4em;
            }
        }
    }
}

/* Panneau d'administration et de modération */
#volet {
    width: 250px;
    padding: 10px; 
    background: rgb(255, 255, 255); 
    color: #fff;
    position: fixed;
    left:-250px;
    top: 75px;
    z-index: 200;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    div{
        &.ouvrirVolet{
            padding: 10px 25px;
            background: rgba(85, 85, 85, 0.466);
            color: #fff;
            text-decoration: none;
            position: absolute; 
            right: -56px;
            top: 13px;
            -ms-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            border-radius: 0 0 8px 8px;
            &:hover{
                background: rgb(85, 85, 85);
                cursor: pointer;
            }
            i{
            -ms-transform: rotate(-270deg);
            -moz-transform: rotate(-270deg);
            -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
            }
        }
    }
}



        //INDEX.PHP

#index{
    header{
        .backgroundImage{
            background: url("../img/cochon.jpg") no-repeat center fixed;
            height: 90vh;
            max-height: 1000px;
            &:before{
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                bottom: 0;
                content: "";
                left: 0;
                right: 0;
                position: absolute;
                top: 100px;
            }
        }
    }
    #section1{
        .backgroundImage{
            background: url("../img/combat.jpg") no-repeat center fixed;
            height: 70vh;
            max-height: 1000px;
            &:before{
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                bottom: 0;
                content: "";
                left: 0;
                right: 0;
                position: absolute;
                top: 100px;
            }
        }
    }
    #section2{
        .backgroundImage{
            background: url("../img/petiteFille.jpg") no-repeat center fixed;
            height: 70vh;
            max-height: 1000px;
            &:before{
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                bottom: 0;
                content: "";
                left: 0;
                right: 0;
                position: absolute;
                top: 100px;
            }
        }
    }
    article{
        i{
            font-size: 5em;
        }
    }
    footer{
        #realisePar{
            position: relative;
            p{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                color: rgb(3, 0, 44);
                text-shadow: 1px 1px 5px rgb(211, 226, 255);
                font-weight: bold;
                width: 100%;
                @media (min-width: 992px) {
                    font-size: 1.1em;
                    i{
                    font-size: 1.2em;
                    }
                }
            }
        }
    }
}

        //ADMINISTRATION.PHP

#administration_page{
    #volet{
        display: none;
    }
}


        //FORUM.PHP

//tout les clearfix
.clearfix{
    &::before{
        content: " ";
        display: block;
    }
    &::after{
        clear: both;
    }
}

#forum_topic, #forum, #forum_post{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    color: #989c9e;
    line-height: 1.42857143;
    header{
        &::before{
            content: " ";
            display: table;
        }
        &::after{
            clear: both;
            content: " ";
            display: table;
        }
        .banner-container{
            width: 100%;
            position: relative;
            overflow: visible;
            .banner{
                max-height: 278px; 
                height: 278px;
                width: 100%;
                position: relative;
                .loader{
                    display:none;
                    position: absolute;
                    top:0;
                    left: 50%;
                    transform: translate(-50%);                   
                }
                ul{
                    display:block;
                    overflow:hidden;
                    width: 100%;
                    height: 100%;
                    max-height: none;
                    list-style: none;
                    li{
                        width: 100%;
                        height: 100%;
                        overflow:hidden;
                        visibility: visible;
                        left:0px;
                        top: 0px;
                        z-index: 20;
                        opacity:1;
                        position: absolute;
                        .slotholder{
                            width: 100%;
                            height: 100%;
                        }
                        img{
                            width: 100%;
                            position: absolute;
                            top: -40%;
                        }
                    }
                }
            }
        }
        #bg-img{
            background-image: url("../img/coucher-soleil.jpg");
        }
    }
    section{
        background-color: #ecf0f1;
        border-top: solid 1px #e0e4e5;
        #paginationMenu, #paginationMenu2, #paginationMenu3{
            width:1170px;
            &::before{
                content: " ";
                display: table;
            }
            &::after{
                clear: both;
            }
            .row{
                margin-left: -15px;
                margin-right: -15px;
                &::before{
                    content:" ";
                    display: table;
                }
                &::after{
                    clear: both;
                }
                .prevnext{
                    font-size: 26px;
                    color: #cfd5d7;
                    display: block;
                    margin-top: 11px;
                    &.last{
                        margin-left: 20px;
                    }

                }
                .paginationForum{
                    margin: 19px auto;
                    li{
                        list-style: none;
                        display: inline-block;
                        margin-left: 20px;
                        a{
                            min-width: 24px;
                            height: 24px;
                            font-size: 14px;
                            font-family: 'Open Sans Semibold', sans-serif;
                            color: #fff;
                            background-color: #cfd5d7;
                            border-radius: 2px;
                            display: block;
                            padding: 0 8px;
                            line-height: 24px;
                            &:active{
                                color: #363838;
                                background-color: #fff;
                                box-shadow: 0 1px 2px #c9cccd;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .separation{
            width: 100%;
            height: 1px;
            background-color: #c9cccd;
            margin-bottom: 20px;
        }
        .post{
            background-color: #fff;
            border-radius: 2px;
            box-shadow:0 1px 2px #c9cccd;
            margin-bottom: 20px;
            .wrap-ut{
                width: 85%;
                &.forum_post{
                    width: 100%;
                    .posttext{
                        padding-left: 30px;
                        padding-right: 0px;
                    }
                    .userinfo{
                        padding: 20px 15px 15px 0px;
                        .avatar{
                            margin-right: 5px;
                            margin-left: 0px;
                        }
                    }
                }
                &.topic_post{
                    width: 100%;
                }
                .userinfo{
                    width: 15%;
                    padding: 20px 0px 15px 15px;
                    .avatar{
                        position: relative;
                        width: 37px;
                        margin-left: 5px;
                        .img{
                            border-radius: 50%;
                        }
                        .status{
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 12px;
                            height: 12px;
                            line-height: 12px;
                            border-radius: 50%;
                            border: solid 2px #fff;
                            &.active{
                                background-color: #80d3ab;
                            }
                            &.inactive{
                                background-color: #f27777;
                            }
                        }
                    }
                    .icons{
                        width: 48px;
                        border-top: solid 1px #f1f1f1;
                        margin-top: 12px;
                        padding-top: 7px;
                        img{
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
                .posttext{
                    width: 85%;
                    padding-right: 30px;
                    padding-top: 20px;
                    padding-bottom: 15px;
                    color: #989c9e;
                    font-size: 14px;
                    font-family: 'Open Sans Light', sans-serif;
                    line-height: 25px;
                    h2{
                        color: #363838;
                        font-size: 18px;
                        font-family: 'Open Sans', sans-serif;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        a{
                            color: #363838;
                        }
                    }
                    &.message_post{
                        position: relative;
                        p{
                            margin-top: 10px;
                        }
                        .date_message{
                            position: absolute;
                            top:0;
                            left: 10px;
                            font-size: 10px;
                        }
                        .signature{
                            position: absolute;
                            bottom: 10px;
                            font-size: 12px;
                            border-top: 1px solid #f1f1f1;
                        }
                    }
                }
            }
            .postinfo{
                width: 15%;
                border-left: solid 1px #f1f1f1;
                .comments{
                    border-bottom: solid 1px #f1f1f1;
                    padding: 18px 0 25px 0;
                    .commentbg{
                        background-color: #bdc3c7;
                        border-radius: 2px;
                        display: inline-block;
                        padding: 12px 17px;
                        color: #fff;
                        font-size: 14px;
                        font-family: 'Open Sans Bold', sans-serif;
                        position: relative;
                        .mark{
                            width: 11px;
                            height: 11px;
                            background-color: #bdc3c7;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-bottom: -5px;
                            transform: translateX(-50%) rotate(45deg);
                        }
                    }
                }
                .views{
                    border-bottom: solid 1px #f1f1f1;
                    color: #9da6aa;
                    font-size: 12px;
                    font-family: 'Open Sans Regular', sans-serif;
                    line-height: 29px;
                    i{
                        font-size: 14px;
                    }
                }
                .time{
                    color: #9da6aa;
                    font-size: 12px;
                    font-family: 'Open Sans Regular', sans-serif;
                    line-height: 29px;
                    i{
                        font-size: 14px;
                    }
                }
            }
        }
        .category{
            background-color: #fff;
            border-radius: 2px;
            box-shadow:0 1px 2px #c9cccd;
            margin-bottom: 20px;
            .wrap-ut{
                width: 85%;
                &:hover{
                    text-decoration: none;
                    h2{
                        color: #18BC9C;
                    }
                }
            }
            .cattext{
                width: 85%;
                padding-right: 30px;
                padding-top: 20px;
                padding-bottom: 15px;
                color: #989c9e;
                font-size: 14px;
                font-family: 'Open Sans Light', sans-serif;
                line-height: 25px;
                h2{
                    font-size: 22px;
                    font-family: 'Open Sans', sans-serif;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    color: #363838;
                }
            }
            .catinfo{
                width: 15%;
                border-left: solid 1px #f1f1f1;
                position: relative;
                .time{
                    color: #9da6aa;
                    font-size: 12px;
                    font-family: 'Open Sans Regular', sans-serif;
                    line-height: 29px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 10px;
                    width: 100%;
                    i{
                        font-size: 14px;
                    }
                }
            }
        }
        .sidebarblock{
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 1px 2px #c9cccd;
            margin-bottom: 20px;
            h3{
                color: #363838;
                font-size: 14px;
                font-family: 'Open Sans Bold', sans-serif;
                padding: 20px;
            }
            .divline{
                height: 1px;
                line-height: 1px;
                border-bottom: solid 1px #f1f1f1;
            }
            .blocktxt{
                font-size: 14px;
                color:#363838;
                font-family: 'Open Sans Light', sans-serif;
                padding: 20px;
                .cats{
                    li{
                        list-style: none;
                        display: block;
                        line-height: 30px;
                        margin: 0;
                        padding: 0;
                        a{
                            font-size: 14px;
                            color: #363838;
                            font-family: 'Open Sans Light', sans-serif;
                            line-height: 30px;
                            .badge{
                                background-color: #bdc3c7;
                                font-size: 12px;
                                color: #fff;
                                font-family: 'Open Sans Bold', sans-serif;
                                margin-top: 7px;
                            }
                        }
                    }
                }
                .poll{
                    .progress{
                        background-color: #ecf0f1;
                        height: 31px;
                        border-radius: 2px;
                        box-shadow: none;
                        margin-bottom: 20px;
                        .progress-bar{
                            font-size: 14px;
                            color: #fff;
                            font-family: 'Open Sans Bold', sans-serif;
                            line-height: 31px;
                            padding-left: 10px;
                            box-shadow: none;
                            &.color1{
                                background-color: #9b59b6;
                            }
                            &.color2{
                                background-color: #3498db;
                            }
                            &.color3{
                                background-color: #e67e22;
                            }
                            &.color4{
                                background-color: #22e65d;
                            }
                            &.color5{
                                background-color: #e62222;
                            }
                            &.color6{
                                background-color: #2236e6;
                            }
                        }
                    }
                    .chbox{
                        vertical-align: top;
                        width: 50px;
                        input[type="radio"]{
                            display: none;
                        }
                        label{
                            display: inline-block;
                            width: 31px;
                            height: 31px;
                            background: url('../assets/radio.jpg') 0 0 no-repeat;
                            vertical-align: middle;
                            cursor: pointer;
                            margin-bottom: 0;
                            margin-left: 20px;
                            
                        }
                    }
                }
                p{
                    &.small{
                        font-size: 12px;
                    }
                }
                a{
                    color: #363838;
                }
            }

        }
    }
    footer{
        color: #363838;
        height: 32px;
        line-height: 32px;
        @media(min-width: 576px){
            line-height: 69px;
            height: 69px;
        }
        .logo{
            line-height: normal;
        }
        .socialicons{
           li{
               display: inline-block;
               list-style: none;
               font-size: 18px;
               color: #bdc3c7;
               margin-left: 15px;
               a{
                   color: #bdc3c7;
                   &:hover{
                       color: #363838;
                   }
               }
           }
        }
    }
}


#pagination {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 1px 2px 4px 2px;
    border-top: 1px solid #AEAEAE;
    border-bottom: 1px solid #FFFFFF;
    background-color: #DADADA;
    background-image: -webkit-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:    -moz-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:     -ms-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:      -o-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:         linear-gradient(top, #DBDBDB, #E2E2E2);
}
#pagination a, #pagination i {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    color: #7D7D7D;
    text-align: center;
    font-size: 10px;
    padding: 3px 0 2px 0;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
         -o-user-select:none;
            user-select:none;
}

#pagination a {
    margin: 0 2px 0 2px;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #FFF, 0 1px 2px #666;
    text-shadow: 0 1px 1px #FFF;
    background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:    -moz-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:     -ms-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:      -o-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:         linear-gradient(top, #F3F3F3, #D7D7D7);
}
#pagination i {
    margin: 0 3px 0 3px;
}
#pagination a.current {
    border: 1px solid #E9E9E9;
    box-shadow: 0 1px 1px #999;
    background-color: #DFDFDF;
    background-image: -webkit-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:    -moz-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:     -ms-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:      -o-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:         linear-gradient(top, #D0D0D0, #EBEBEB);
}