@charset "UTF-8";
/* Définission des variables de couleurs */
/*Avatar dans barre de navigation */
nav #infosProfil {
  position: relative;
}

nav #infosProfil img {
  width: 50px;
  border-radius: 50%;
  position: relative;
}

.bg-light {
  background-color: white !important;
}

/*Avatar dans le profil */
.profil img {
  width: 90px;
  border-radius: 50%;
}

.profil img.admin {
  border: 2px solid red;
}

.profil img.modo {
  border: 2px solid #1965d6;
}

.profil img.membre {
  border: 2px solid #1c921c;
}

.profil img.visiteur {
  border: 2px solid black;
}

@media (min-width: 992px) {
  .profil img {
    width: initial;
  }
}

.profil #pseudo {
  font-size: 200%;
}

@media (min-width: 992px) {
  .profil #pseudo {
    font-size: 300%;
  }
}

/* Contenu du profil */
.modal-dialog {
  max-width: 900px;
}

.modal-dialog .modal-content .modal-header {
  border-bottom: none;
}

.modal-dialog .modal-content .modal-header h5 {
  font-size: 1.5em;
}

.modal-dialog .modal-content .modal-body .jumbotron {
  background-color: white;
}

.modal-dialog .modal-content .modal-body .jumbotron img {
  border-radius: 50%;
}

.modal-dialog .modal-content .modal-body i {
  font-size: 1.4em;
}

/* Panneau d'administration et de modération */
#volet {
  width: 250px;
  padding: 10px;
  background: white;
  color: #fff;
  position: fixed;
  left: -250px;
  top: 75px;
  z-index: 200;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#volet div.ouvrirVolet {
  padding: 10px 25px;
  background: rgba(85, 85, 85, 0.466);
  color: #fff;
  text-decoration: none;
  position: absolute;
  right: -56px;
  top: 13px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  border-radius: 0 0 8px 8px;
}

#volet div.ouvrirVolet:hover {
  background: #555555;
  cursor: pointer;
}

#volet div.ouvrirVolet i {
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
}

#index header .backgroundImage {
  background: url("../img/cochon.jpg") no-repeat center fixed;
  height: 90vh;
  max-height: 1000px;
}

#index header .backgroundImage:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: 100px;
}

#index #section1 .backgroundImage {
  background: url("../img/combat.jpg") no-repeat center fixed;
  height: 70vh;
  max-height: 1000px;
}

#index #section1 .backgroundImage:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: 100px;
}

#index #section2 .backgroundImage {
  background: url("../img/petiteFille.jpg") no-repeat center fixed;
  height: 70vh;
  max-height: 1000px;
}

#index #section2 .backgroundImage:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: 100px;
}

#index article i {
  font-size: 5em;
}

#index footer #realisePar {
  position: relative;
}

#index footer #realisePar p {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #03002c;
  text-shadow: 1px 1px 5px #d3e2ff;
  font-weight: bold;
  width: 100%;
}

@media (min-width: 992px) {
  #index footer #realisePar p {
    font-size: 1.1em;
  }
  #index footer #realisePar p i {
    font-size: 1.2em;
  }
}

#administration_page #volet {
  display: none;
}

.clearfix::before {
  content: " ";
  display: block;
}

.clearfix::after {
  clear: both;
}

#forum {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 14px;
  color: #989c9e;
  line-height: 1.42857143;
}

#forum header::before {
  content: " ";
  display: table;
}

#forum header::after {
  clear: both;
  content: " ";
  display: table;
}

#forum header .banner-container {
  width: 100%;
  position: relative;
  overflow: visible;
}

#forum header .banner-container .banner {
  max-height: 278px;
  height: 278px;
  width: 100%;
  position: relative;
}

#forum header .banner-container .banner .loader {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#forum header .banner-container .banner ul {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: none;
  list-style: none;
}

#forum header .banner-container .banner ul li {
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  left: 0px;
  top: 0px;
  z-index: 20;
  opacity: 1;
  position: absolute;
}

#forum header .banner-container .banner ul li .slotholder {
  width: 100%;
  height: 100%;
}

#forum header .banner-container .banner ul li img {
  width: 100%;
  position: absolute;
  top: -40%;
}

#forum header #bg-img {
  background-image: url("../img/coucher-soleil.jpg");
}

#forum section {
  background-color: #ecf0f1;
  border-top: solid 1px #e0e4e5;
}

#forum section #paginationMenu {
  width: 1170px;
}

#forum section #paginationMenu::before {
  content: " ";
  display: table;
}

#forum section #paginationMenu::after {
  clear: both;
}

#forum section #paginationMenu .row {
  margin-left: -15px;
  margin-right: -15px;
}

#forum section #paginationMenu .row::before {
  content: " ";
  display: table;
}

#forum section #paginationMenu .row::after {
  clear: both;
}

#forum section #paginationMenu .row .prevnext {
  font-size: 26px;
  color: #cfd5d7;
  display: block;
  margin-top: 11px;
}

#forum section #paginationMenu .row .prevnext.last {
  margin-left: 20px;
}

#forum section #paginationMenu .row .paginationForum {
  margin: 19px auto;
}

#forum section #paginationMenu .row .paginationForum li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

#forum section #paginationMenu .row .paginationForum li a {
  min-width: 24px;
  height: 24px;
  font-size: 14px;
  font-family: 'Open Sans Semibold', sans-serif;
  color: #fff;
  background-color: #cfd5d7;
  border-radius: 2px;
  display: block;
  padding: 0 8px;
  line-height: 24px;
}

#forum section #paginationMenu .row .paginationForum li a:active {
  color: #363838;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px #c9cccd;
          box-shadow: 0 1px 2px #c9cccd;
  text-decoration: none;
}

#forum section .post {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #c9cccd;
          box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
}

#forum section .post .wrap-ut {
  width: 85%;
}

#forum section .post .wrap-ut .userinfo {
  width: 15%;
  padding: 20px 0px 15px 15px;
}

#forum section .post .wrap-ut .userinfo .avatar {
  position: relative;
  width: 37px;
  margin-left: 5px;
}

#forum section .post .wrap-ut .userinfo .avatar .img {
  border-radius: 50%;
}

#forum section .post .wrap-ut .userinfo .avatar .status {
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 50%;
  border: solid 2px #fff;
}

#forum section .post .wrap-ut .userinfo .avatar .status.active {
  background-color: #80d3ab;
}

#forum section .post .wrap-ut .userinfo .avatar .status.inactive {
  background-color: #f27777;
}

#forum section .post .wrap-ut .userinfo .icons {
  width: 48px;
  border-top: solid 1px #f1f1f1;
  margin-top: 12px;
  padding-top: 7px;
}

#forum section .post .wrap-ut .userinfo .icons img {
  width: 24px;
  height: 24px;
}

#forum section .post .wrap-ut .posttext {
  width: 85%;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #989c9e;
  font-size: 14px;
  font-family: 'Open Sans Light', sans-serif;
  line-height: 25px;
}

#forum section .post .wrap-ut .posttext h2 {
  color: #363838;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

#forum section .post .wrap-ut .posttext h2 a {
  color: #363838;
}

#forum section .post .postinfo {
  width: 15%;
  border-left: solid 1px #f1f1f1;
}

#forum section .post .postinfo .comments {
  border-bottom: solid 1px #f1f1f1;
  padding: 18px 0 25px 0;
}

#forum section .post .postinfo .comments .commentbg {
  background-color: #bdc3c7;
  border-radius: 2px;
  display: inline-block;
  padding: 12px 17px;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans Bold', sans-serif;
  position: relative;
}

#forum section .post .postinfo .comments .commentbg .mark {
  width: 11px;
  height: 11px;
  background-color: #bdc3c7;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: -5px;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

#forum section .post .postinfo .views {
  border-bottom: solid 1px #f1f1f1;
  color: #9da6aa;
  font-size: 12px;
  font-family: 'Open Sans Regular', sans-serif;
  line-height: 29px;
}

#forum section .post .postinfo .views i {
  font-size: 14px;
}

#forum section .post .postinfo .time {
  color: #9da6aa;
  font-size: 12px;
  font-family: 'Open Sans Regular', sans-serif;
  line-height: 29px;
}

#forum section .post .postinfo .time i {
  font-size: 14px;
}

#forum section .sidebarblock {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #c9cccd;
          box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
}

#forum section .sidebarblock h3 {
  color: #363838;
  font-size: 14px;
  font-family: 'Open Sans Bold', sans-serif;
  padding: 20px;
}

#forum section .sidebarblock .divline {
  height: 1px;
  line-height: 1px;
  border-bottom: solid 1px #f1f1f1;
}

#forum section .sidebarblock .blocktxt {
  font-size: 14px;
  color: #36383838;
  font-family: 'Open Sans Light', sans-serif;
  padding: 20px;
}

#forum section .sidebarblock .blocktxt .cats li {
  list-style: none;
  display: block;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

#forum section .sidebarblock .blocktxt .cats li a {
  font-size: 14px;
  color: #363838;
  font-family: 'Open Sans Light', sans-serif;
  line-height: 30px;
}

#forum section .sidebarblock .blocktxt .cats li a .badge {
  background-color: #bdc3c7;
  font-size: 12px;
  color: #fff;
  font-family: 'Open Sans Bold', sans-serif;
  margin-top: 7px;
}

#forum section .sidebarblock .blocktxt .poll .progress {
  background-color: #ecf0f1;
  height: 31px;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#forum section .sidebarblock .blocktxt .poll .progress .progress-bar {
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans Bold', sans-serif;
  line-height: 31px;
  padding-left: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#forum section .sidebarblock .blocktxt .poll .progress .progress-bar.color1 {
  background-color: #9b59b6;
}

#forum section .sidebarblock .blocktxt .poll .chbox {
  vertical-align: top;
  width: 50px;
}

#forum section .sidebarblock .blocktxt .poll .chbox input[type="radio"] {
  display: none;
}

#forum section .sidebarblock .blocktxt .poll .chbox label {
  display: inline-block;
  width: 31px;
  height: 31px;
}
/*# sourceMappingURL=profil.css.map */