/* Définission des variables de couleurs */
$admin:red;
$modo: rgb(25, 101, 214);
$membre : rgb(28, 146, 28);
$visiteur: rgb(0, 0, 0);


/*Avatar dans barre de navigation */
nav {
    #infosProfil{
        position:relative;
        img{
            width: 50%;
            border-radius: 50%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            &.admin {
                border: 2px solid $admin;
            }
            &.modo {
                border: 2px solid $modo;
            }
            &.membre {
                border: 2px solid $membre;
            }
            &.visiteur {
                border: 2px solid $visiteur;
            }
        }
    }
}

/*Avatar dans le profil */
.profil{
    img {
        width: 70px;
        border-radius: 50%;
        &.admin {
            border: 2px solid $admin;
        }
        &.modo {
            border: 2px solid $modo;
        }
        &.membre {
            border: 2px solid $membre;
        }
        &.visiteur {
            border: 2px solid $visiteur;
        }
        @media (min-width: 992px) {
            width: initial;
        }
    }
    #pseudo {
        font-size: 200%;
        @media (min-width: 992px) {
            font-size: 300%;
        }
    }
}


/* Contenu du profil */
#conteneurProfil{
    position:relative;
    height: 100vh;
    #profil{
        background-color: rgba(0, 0, 0, 0.534);
        @media (min-width: 768px) {
            position: absolute;
            width: 70%;
            border-radius: 30px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            main {
                h3{
                    font-size: 1.5em;
                }
            }
        }

    }
}